<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="default" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>target/log/default.%d{yyyy-MM-dd_HH}.log</FileNamePattern>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%m%n</Pattern>
    </encoder>
  </appender>
  <!--
  <appender name="default" class="scribe.logback.ScribeAppender">
    <category>default</category>
    <bufferType>journal</bufferType>
    <logDir>target/log_default</logDir>
    </appender>

<appender name="default" class="ch.qos.logback.classic.sift.SiftingAppender">
<discriminator class="scribe.logback.LoggerNameBasedDiscriminator"/>
<sift>
<appender name="FILE-${loggerName}" class="ch.qos.logback.core.FileAppender">
<FILE>path/to/logs/${loggerName}/${loggerName}.log</FILE>
<encoder>
<pattern>%msg%n</pattern>
</encoder>
</appender>
</sift>
</appender>

  -->
  <root level="INFO">
    <appender-ref ref="default"/>
  </root>
</configuration>
